<h1>Blog Posts</h1>
<% @posts.each do |p| %>
    <article class="well">
      <h2><%= p.title %></h2>
      <small><%= p.author %></small>
      <p><%= p.body %></p>
      <%= link_to "Go to post", blog_post_path(p), :class => "btn btn-default" %>
    </article>
<% end %>