<footer class="text-muted text-center">
    <div class="container">
      <%= source_helper("Portfolio") %>
      <p><%= @copyright %></p>
      <p><a href="#">Back to top</a></p>
    </div>
  </footer>