<div class="container">
  <footer class="text-muted text-center">
    <ul class="list-unstyled footer-social">
      <a href="https://twitter.com/_MikHM" class="text-white">Twitter</a>
      <a href="https://www.linkedin.com/in/hbotogaly/" class="text-white">LinkedIn</a>
      <a href="#" class="text-white">Email</a>
    </ul>
    <%= source_helper("Portfolio") %>
    <p><%= @copyright %></p>
    <p><a href="#">Back to top</a></p>
  </footer>  
</div>