<div class="container">
  <div class="col-md-8 offset-md-2">
    <div class="portfolio_back mb-4 box-shadow">
      <h2>Create a new Portfolio item.</h2>
      <%= render "form", portfolio_item: @portfolio_item %>
    </div>
  </div>
  </div>