<h1 class="cover-heading">Wanna be Dev from Paris.</h1>
<p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi.</p>
<p class="lead">
  <%= link_to  "About me", about_path, { :class => "btn btn-lg btn-secondary"} %>
</p>
